@page
@model SolucionIoT.Web.Pages.logoutModel
@{
    ViewData["Title"] = "logout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Gracias</h1>
<p>Gracias por usar el servicio de Solucion IoT</p>